.nivel9{
  height: 300px;
  width: 800px;
  background: rgb(0, 217, 255);
  border-radius: 5px;
  position: relative;
}
.personaje{
  font-size: 2.5em;
  position: absolute;
  top:96px;
  left:0px;
}
.personaje a{
  text-decoration: none;
}
.muro1{
  height: 110px;
  background-color: rgb(199, 98, 39);
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(199, 98, 39);
}

.muro2{
  height: 110px;
  background-color: rgb(199, 98, 39);
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgb(199, 98, 39);
}
.piso{
  background-color: #e41313;
  position: absolute;
  width: 300px;
  height: 30px;
  top:160px;
  color: #e41313;
}
.cruzar{
  position: absolute;
  border-radius: 25px;
  right:150px;
  top:140px;
}
.nivel10{
    height: 340px;
    border: 1px solid #0f0;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 1.2em;
    line-height: 1.8;
}
.nivel10 .code{
    padding: 15px;
}
.nivel10 .board{
    background-color: #0f0;
    width: 45%;
}
.code .variable{
    height: 30px;
    background-color: transparent;
    border: none;
    color: #0f0;
    font-size: 0.7em;
}
.code .variable:focus{
    outline: none;
}