@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height:100vh;
  background-color: black;
  color: #0f0;
  font-family: 'Courier New';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 20px;
}
.nivel{
  position: absolute;
  top:5px;
  left: 0;
  border-bottom: 1px solid #0f0;
  width: 100%;
  text-align: center;
}
.btn{
  background-color: #000;
  color: #0f0;
  border: 2px solid #0f0;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Courier New', monospace;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  height: 50px;
}

.btn:hover {
  background-color: #0f0;
  color: #000;
  box-shadow: 0 0 10px #0f0;
}

.input {
  background-color: #000;
  color: #0f0;
  border: 2px solid #0f0;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', monospace;
  transition: border-color 0.3s, box-shadow 0.3s;
  height: 50px;
  font-size: 20px;
}

.input::placeholder {
  color: #0f0; /* o un tono gris claro */
  opacity: 0.7; /* Le da un efecto de desvanecimiento */
}

.input:focus {
  border-color: #00ff00; /* Brillo más intenso al enfocar */
  box-shadow: 0 0 10px #0f0; /* Efecto de sombra al enfocar */
}
.pw1{
  color: black;
}
.game{
  display: flex;
  flex-direction: column;
  gap:20px;
  width: 800px;
  justify-content: center;
}
a{
  color:#0f0;
}

.containernivel2{
  display: flex;
  gap: 30px;
  margin: 15px 0;
}
.containernivel2 button{
  border: 1px solid #0f0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: #000;
  cursor: pointer;
  color: #0f0;
  font-size: 20px;
}
.containernivel2 button:active{
  background-color: whitesmoke;
}
.containernivel5{
  display: flex;
  gap:20px;
  
}
.containernivel5 button{
  width: 50px;
  height: 50px;
  border: 2px solid #0f0;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.containernivel5 button{
  cursor: pointer;
}

.containernivel6{
  display: flex;
  gap:20px;
} 
.containernivel6 img{
width: 100px;
cursor:pointer;
border-radius: 10px;
border: 2px solid #0f0;
}
.containernivel6 img:active{
  opacity: 0.3;
}

.energy{
  content: "";
  width: 250px;
  height: 50px;
  background-color: #000;
  border: 1px solid #0f0;
  margin-left: 280px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 12px;
  color: #000;
  text-align: center;
  line-height: 50px;
  margin-top: -40px;
}

.pistaDescarga{
  text-decoration: none;
}
.center{
  display: flex;
  justify-content: center;
}
.timer{
  font-family: "Orbitron", sans-serif;
  color:#0f0;
  font-weight: 500;
  font-size: 40px;
  text-shadow: 0 0 10px #0f0;
}
.containernivel7{
  border: 10px solid #131212;
  height: 280px;
  display: flex;
  flex-wrap: wrap;
  background-color: #181717;
  padding: 10px;
}

.maquina{
  background-color: #181717;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border: 8px solid #131212;
  font-size: 20px;
}
.numeross{
  font-size: 2em;
  display: flex;
  gap: 15px;
}
.numeross span{
  background-color: gray;
  padding: 5px;
  color: white;
  font-weight: 600;
  min-width: 35px;
  min-height: 55px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hide{
  display: none;
}
.blank{
  height: 70px;
}